APP_ENV=development
PUBLIC_ORIGIN=http://localhost:8080
OCR_STRATEGIES=tesseract
OCR_TESSERACT_PATH=/usr/bin/tesseract
OCR_DEADLINE_MS=2900
VERIFICATION_DEADLINE_MS=5000
MAX_IMAGE_BYTES=1572864
MAX_AGGREGATE_BYTES=12582912
MAX_DECODED_PIXELS=60000000
MAX_REQUEST_CONCURRENCY=2
VERIFICATION_TTL_SECONDS=900
COLA_MOCK_BASE_URL=http://cola-mock:8081
DEMO_SYNTHETIC_ONLY=true
LOG_LEVEL=INFO
